@using Resource.Base
@model IEnumerable<BLL.App.DTO.TrackLocation>

@{
    ViewData["Title"] = Common.Index;
}

<h1>@Common.Index</h1>

<p>
    <a asp-action="Create">@Common.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elevation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accuracy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElevationAccuracy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rpm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elevation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accuracy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElevationAccuracy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rpm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track!.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
