@using Domain
@model QuizViewModel

@{
    ViewData["Title"] = "Quiz";
}

<h4>@Model.Quiz!.Name</h4>
<hr/>
@Model.Quiz!.Description

<div>
    <form asp-action="PostFill">
        @foreach (var question in Model.Quiz!.QuizQuestions!)
        {
            <div class="form-group">
                <span class="control-label">@question.Text</span>
                <hr/>
                <br/>
                @foreach (var option in question.QuizOptions!)
                {
                    <input type="radio" asp-for="Answers[question.Id]" value="@option.Id"/>
                    @option.Text<br/>
                }
            </div>
        }
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </form>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>