@using Resource.Base.Areas.Admin.Pages
@model IEnumerable<Domain.Identity.AppUser>

@{
    ViewData["Title"] = Users.Index;
}

<h1>@Users.Index</h1>

<p>
    <a asp-action="Create">@Users.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Users.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Users.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Users.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
