@using Resource.Base.Areas.Admin.Pages
@model Domain.Identity.AppRole

@{
    ViewData["Title"] = Roles.Details;
}

<h1>@Roles.Details</h1>

<div>
    <h4>@Roles.AppRole</h4>
    <hr/>
    <partial name="_Details" model="Model"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Roles.Edit</a> |
    <a asp-action="Index">@Roles.Back</a>
</div>