@using Resource.Base
@model IEnumerable<BLL.App.DTO.CarAccessType>

@{
    ViewData["Title"] = Common.Index;
}

<h1>@Common.Index</h1>

<p>
    <a asp-action="Create">@Common.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
