@using Resource.Base
@using Resources
@model BLL.App.DTO.CarMark

@{
    ViewData["Title"] = Common.Details;
}

<h1>@Common.Details</h1>

<div>
    <h4>@Shared.CarMark</h4>
    <hr />
    <partial name="_Details" model="Model"/>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">@Common.Edit</a>
    }
    <a asp-action="Index">@Common.Back</a>
</div>
